[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab-vim = "*"
matplotx = {extras = ["all"], version = "*"}
pandas = "*"

[dev-packages]

[requires]
python_version = "3.11"
