use nix

minikube config set driver docker
minikube status >/dev/null 2>&1 || minikube start

echo -e "\033[31mminikube automatically started.\033[0m"
echo -e "\033[31mRemember to manually stop minikube before exiting. 'minikube stop'\033[0m"
echo -e "\033[31mHelper: alias k='minikube kubectl --'\033[0m"
